services:
  ch1:
    image: clickhouse/clickhouse-server:25.8
    container_name: ch1
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ./ch1_volume:/var/lib/clickhouse
      #- ./config/clickhouse/users.d:/etc/clickhouse-server/users.d:ro
      #- ./config/clickhouse/config.d:/etc/clickhouse-server/config.d:ro
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: "clickhouse"
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: "1"
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD-SHELL", "clickhouse-client --user default --password clickhouse --query 'SELECT 1' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 30


  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: "2181"
      ZOOKEEPER_TICK_TIME: "2000"
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: "1"
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"

      # Два listener-а: внутри docker-сети и с хоста
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: "1"
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: "1"

      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  producer:
    build:
      context: ./producer
    container_name: producer
    depends_on:
      - kafka
      - ch1
    environment:
      KAFKA_BOOTSTRAP: "kafka:9092"
      KAFKA_TOPIC: "transactions"

      CH_HOST: "ch1"
      CH_PORT: "8123"
      CH_USER: "default"
      CH_PASSWORD: "clickhouse"
      CH_DB: "antifraud"

      TOTAL_RECORDS: "200000"
      BATCH_SIZE: "10000"
      SLEEP_SEC: "3"
    restart: "no"

  superset:
    build: ./build/superset
    container_name: superset
    ports:
      - "8088:8088"
    environment:
      SUPERSET_SECRET_KEY: "9dfc3c4e5f6a7b8c9d0e1f2a3b4c5d6e"
    volumes:
      - superset_volume:/app/superset_home
    restart: unless-stopped

volumes:
  superset_volume:

